<!DOCTYPE html>

<html>
    <head>
        <title>Morgan Example</title>
        <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/default.css" />
    </head>
    <body>
        <div class="container">
            <div class="row header">
                <div class="span12">
                    <h1>Main Heading</h1>
                </div>
            </div>
            <div class="row">
                <div class="span8 content">
                    <h2>Welcome to Morgan</h2>
                    <p>This is just a simple example to show some basic
                    ideas of how you can use Morgan to achieve the same
                    functionality you'd normally use template logic for.</p>
                    <h3>Silex</h3>
                    <p>This is a Silex application, that has a few routes,
                    and the output of each route uses Morgan to render the
                    final HTML.</p>
                </div>
                <div class="span4">
                    <h3>Examples</h3>
                    <ul>
                        <li>
                            <a href=".">Home Page</a>
                        </li>
                        <li>
                            <a href="list">List of Content</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
