<!DOCTYPE html>

<html>
    <head>
        <title>Morgan Example</title>
        <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/default.css" />
    </head>
    <body>
        <div class="container">
            <div class="row content">
                <div class="span8 content">
                    <h2>List of Things</h2>
                    <ul class="things">
                        <li class="thing">
                            <h3>Thing Name</h3>
                            <p>Here is a description of the things.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
